.card {
  display: flex;
  flex-direction: row;
  width: 23%;
}
.card__body {
  margin: 8px;
  padding: 10px;
  border: 1px solid #ccd5d6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
}
.card__bodyBorder:after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 40%; /* or 100px */
  background: #ffce32;
}
figure {
  max-width: 200px;
  margin: auto 45px;
}
.card__image {
  max-width: 100%;
}
.card__text {
  margin: auto 8px;
}
.card__text > h2 {
  margin-top: 7px;
}
.card__text > p {
  color: darkgray;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}
.cardFooter > small {
  color: darkgray;
  font-size: 11px;
  text-transform: uppercase;
}
.cardFavoriteIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.cardFeaturedIcon {
  background-color: #ffce32;
  position: absolute;
  top: 8px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 5px;
}
